<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fontawesome js code -->
    <script src="https://kit.fontawesome.com/cbf2111379.js"></script>
    <link rel="stylesheet" href="static/css/style_resume.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>Resume</title>
</head>
<body>
<div class="wrapper">
    <div class="resume">
        <div class="profile_info">
            <div class="profile_img"><a href="/">
                <img src="static/image/res_image.jpg" alt="picture of Tomas Resendiz"></a>
            </div>
            <div class="profile_data">
                <p class="name">Tomas Resendiz</p>
                <span>Austin Texas, USA</span>  
            </div>
        </div>
        <div class="skills">
            <div class="title">
                SKILLS
            </div>
            <p><strong>Tools:</strong> Python, PySpark, R, SQL, noSQL, Excel, VBA, Docker</p>
            <p><strong>Data Visualization:</strong> Leaflet, matplotlib, seaborn, Tableau, Power BI</p>
            <p><strong>Machine Learning:</strong> scikit learn, tensorflow, NLP</p>
            <p><strong>Databases:</strong> MySQL, PostgreSQL, mongoDB, Access</p>
            <p><strong>Front-End Dev:</strong> HTML, CSS, JS, jQuery</p>
            <p><strong>Language:</strong> English – native, Spanish – native, Portuguese – intermediate</p><br>
        </div>
        <div class="full_info_wrap">
            <div class="tabs">
                <ul>
                    <li data-li="experience" class="active">Experience</li>
                    <li data-li="education">Education</li>
                    <li data-li="contact">Contact</li>
                </ul>
            </div>
            <div class="full_info">
<!-- work experience -->                
                <div class="full_info_item experience">
                    <div class="title">WORK EXPERIENCE</div>
                    <div class="info_wrap">
                        <ul>
                            <li>
                                <div class="sub_title">
                                    June 2009 - January 2020
                                </div>
                                <div class="info_item">
                                    <div class="info_title">
                                        Statistician<br>
                                        USDA-National Agricultural Statistics Service<br>
                                        <p style="font-style: italic; font-size:12px">Austin, Texas</p>
                                    </div><hr>
                                    <div class="data">
                                        <p>
                                        Coordinate and monitor regional survey implementation and trainings.  Developed tools to optimize and improve consistency of repetitive tasks using VBA and Python.  
                                        Spearheaded and developed a new methodology and program to improve commodity estimation and forecasting using VBA and Python.  
                                        Generated state and national commodity progress maps through ArcGIS.
                                        </p><br>
                                        <p style="font-style: italic; font-size:15px">Key Accomplishments</p> 
                                        <p><br>
                                            <ul>
                                                <li>   Lead regional trainings, for proper survey implementation techniques.</li>
                                                <li>	Establish visualization methods and dashboards for state and regional analysis.</li>
                                                <li>	Managed statewide survey implementations on-time and within budgets.</li>
                                                <li>	Developed multiple VBA, ArcGIS, and Python programs to streamline data reconciliation and data analysis.</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sub_title">
                                    August 2010 - November 2011
                                </div>
                                <div class="info_item">
                                    <div class="info_title">
                                        Economic Development Officer<br>
                                        U.S. Peace Corps<br>
                                        <p style="font-style: italic; font-size:12px">Katwe Village, Uganda</p>
                                    </div><hr>
                                    <div class="data">
                                        <p>
                                        Helped develop Business models, SWOT analysis, financial reporting, and 5-year business plans for small community businesses.  
                                        Became liaison between local governments and private businesses.
                                        </p><br>
                                        <p style="font-style: italic; font-size:15px">Key Accomplishments</p> 
                                        <p><br>
                                            <ul>
                                                <li>	Developed community marketing and outreach programs for Eco-Tourism enterprises.</li>
                                                <li>	Authored MoUs between local businesses and local governments.</li>
                                                <li>	Created and executed Public-Private Partnerships (PPP), grant writing, marketing, and business management trainings.</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sub_title">
                                    Januar 2007 - May 2007
                                </div>
                                <div class="info_item">
                                    <div class="info_title">
                                        Congressional Liaison<br>
                                        U.S. Congress<br>
                                        <p style="font-style: italic; font-size:12px">Washington D.C.</p>
                                    </div><hr>
                                    <div class="data">
                                        <p>
                                        Worked as a liaison to the Congressional Hispanic Caucus. 
                                        Advocated for and promoted legislation for the betterment of Hispanic and Latino social issues and empowerment.
                                        </p><br>
                                        <p style="font-style: italic; font-size:15px">Key Accomplishments</p> 
                                        <p><br>
                                            <ul>
                                                <li>	Recipient of a Congressional Award for Distinguish and Outstanding Service. </li>
                                                <li>	Generated co-sponsorship support from multiple congressional members on various legislation authored by Congressman Cuellar.  </li>
                                                <li>	Increased network contacts both in the public and private sector.  </li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!-- end of work experience -->
<!-- education -->
                <div class="full_info_item education" style="display:none;">
                    <div class="title">EDUCATION</div>
                    <div class="info_wrap">
                        <ul>
                            <li>
                                <div class="sub_title">
                                    December 2019 - March 2020
                                </div>
                                <div class="info_item">
                                    <div class="info_title">
                                        Data Science<br>   
                                        Certificate from Galvanize<br>
                                        <p style="font-style: italic; font-size:12px">Austin, Texas</p>
                                    </div><hr>
                                    <div class="data">
                                        <p>
                                        Galvanize is a dynamic learning community that offers top-notch courses in data science. 
                                        I was a student in the Data Science Immersive program. 
                                        </p><br>
                                        <p style="font-style: italic; font-size:15px">Key areas of study focus</p> 
                                        <p><br>
                                        <ul>
                                            <li>	600 hours of training in data science, data engineering, database management, and general computer science</li>
                                            <li>	Programming: Python, Scikit-Learn, Numpy, Pandas, Scipy.stats</li>
                                            <li>	Statistics: A/B testing, Multi-arm Bandit, Hypothesis Testing, Linear Regression, Logistic Regression</li>
                                            <li>	Machine Learning: Random Forest, Naive Bayes, kNN, kMeans, Hierarchical Clustering, t-SNE, PCA, SVD, NMF, Gradient Boosting</li>
                                            <li>	Deep Learning: Keras, Tensorflow, Word2Vec, Doc2Vec</li>
                                            <li>	Database Management: Postgres SQL, MongoDB</li>
                                            <li>	Web Scraping: JSON, Beautifulsoup, Selenium</li>
                                            <li>	Data Visualization: Matplotlib, Pandas, Bokeh, Seaborn, Plotly</li>
                                            <li>	Web Design: Flask, HTML, CSS</li>
                                            <li>	Natural Language Processing (NLP): NLTK, Gensim, Topic Modeling, Sentiment Analysis</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sub_title">
                                    January 2019 - July 2019
                                </div>
                                <div class="info_item">
                                    <div class="info_title">
                                        Data Analytics and Visualization<br>   
                                        Certificate at University of Texas<br>
                                        <p style="font-style: italic; font-size:12px">Austin, Texas</p>
                                    </div><hr>
                                    <div class="data">
                                        <p>
                                        Through an immersive 24 intensive weeks of fundamentals of data analytics and visualization. 
                                        This program enhanced my knowledge of many key fundamental concepts of data analytics.
                                        </p><br>
                                        <p style="font-style: italic; font-size:15px">Key areas of study focus</p> 
                                        <p><br>
                                        <ul>
                                            <li>	Excel Functions: Pivot tables, VBA Scripting, Advance functions</li>
                                            <li>	Fundamental Statistics: Modeling, Forecasting, and Regression analysis</li>
                                            <li>	Python Programming: Python 3, NumPy, pandas, Matplotlib, API Interactions</li>
                                            <li>	Databases: MySQL, PostgresSQL, MongoDB, ETL</li>
                                            <li>	Front End Web Visualization: HTML, CSS, Bootstrap, Dashboarding, JS Charting, D3.js, Geomapping with Leaflet.js</li>
                                            <li>	Business Intelligence Software: Tableau</li>
                                            <li>	Advanced Topics: Big Data Analytics with Hadoop, Machine Learning</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sub_title">
                                    January 2010 - May 2013
                                </div>
                                <div class="info_item">
                                    <div class="info_title">
                                        Master of Agribusiness<br>   
                                        Texas Tech University<br>
                                        <p style="font-style: italic; font-size:12px">Lubbock, Texas</p>
                                    </div><hr>
                                    <div class="data">
                                        <p>
                                        Graduate Degree, emphasis in agricultural business management and economics.
                                        </p><br>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sub_title">
                                    January 2010 - May 2013
                                </div>
                                <div class="info_item">
                                    <div class="info_title">
                                        Master of Agribusiness<br>   
                                        Universidade Federal do Rio Grande do Sul<br>
                                        <p style="font-style: italic; font-size:12px">Porto Alegre, Brazil</p>
                                    </div><hr>
                                    <div class="data">
                                        <p>
                                        Semester-long exchange program, part of my masters program.  
                                        Took master level economics and finance courses solely in Portuguese.
                                        </p><br>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sub_title">
                                    August 2005 - December 2009
                                </div>
                                <div class="info_item">
                                    <div class="info_title">
                                        Agricultural and Applied Economics, B.S.<br>   
                                        Texas Tech University<br>
                                        <p style="font-style: italic; font-size:12px">Lubbock, Texas</p>
                                    </div><hr>
                                    <div class="data">
                                        <p>
                                        Bachelor of Science, emphasis in agricultural economics and finance.
                                        </p><br>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sub_title">
                                    August 2008 - June 2009
                                </div>
                                <div class="info_item">
                                    <div class="info_title">
                                        Agricultural and Applied Economics, B.S.<br>   
                                        Korea University<br>
                                        <p style="font-style: italic; font-size:12px">Seoul, South Korea</p>
                                    </div><hr>
                                    <div class="data">
                                        <p>
                                        Yearlong study abroad program.  
                                        </p><br>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!-- end of work education -->
<!-- contact -->
                <div class="full_info_item contact" style="display: none;">
                    <div class="title">CONTACT</div>
                    <div class="info_wrap">
                        <ul>
                            <li>
                                <span class="info_q"><i class="fas fa-envelope"></i>
                                    Email:
                                </span>
                                <span class="info_a">
                                    tomas.resendiz@icloud.com
                                </span>
                            </li>
                            <li>
                                <span class="info_q"><i class="fas fa-phone"></i>
                                    Phone:
                                </span>
                                <span class="info_a">
                                    (806) 983-9070
                                </span>
                            </li>
                            <li>
                                <span class="info_q"><i class="fab fa-linkedin fa-lg"></i>
                                    Linkedin:
                                </span>
                                <a href="https://www.linkedin.com/in/tomas-resendiz/"><span class="info_a">
                                    linkedin.com/tomas-resendiz
                                </span></a>
                            </li>
                            <li>
                                <span class="info_q"><i class="fab fa-facebook fa-lg"></i>
                                    facebook:
                                </span>
                                <a href="https://www.facebook.com/TomasResendizB"><span class="info_a">
                                    facebook.com/TomasResendizB
                                </span></a>
                            </li>
                            <li>
                                <span class="info_q"><i class="fab fa-github fa-lg"></i>
                                    Github:
                                </span>
                                <a href="https://github.com/nomadtomas"><span class="info_a">
                                    github.com/nomadtomas
                                </span></a>
                            </li>
                        </ul>
                    </div>
                </div><!-- end of work contact -->
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>